/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Google Font Links */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&family=Poor+Story&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif , 'Poor Story' , cursive;
  /* font-family: 'Poor Story' , cursive; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}